html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.one-country {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.languages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.country-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.country-list > li {
  margin-bottom: 10px;
}